* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	margin-bottom: 10px;
}

h1 {
	margin: 0;
	font-size: 36px;
	font-weight: normal;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

main {
	max-width: 800px;
	margin: 20px auto;
	padding: 0 20px;
}

section {
	margin-bottom: 40px;
}

h2 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 20px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin-bottom: 10px;
}

form label {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
}

form input[type="text"],
form input[type="email"],
form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 18px;
}

form textarea {
	height: 200px;
}


.slider-container {
    max-width: 800px;
    margin: auto;
    overflow: hidden;
  }
  
  .slider {
    display: flex;
    width: 300%;
  }
  
  .slider img {
    width: 100%;
    height: auto;
  }
  
  .slider-dots {
    text-align: center;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  